  {% extends "partials/base.html" %}

  {% block content %}
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / Register</p>
          </div>

          <div class="inner-page-title">
            <h2>Register</h2>
          </div>

          <h1>Choose you type</h1>
          <div class="about-box">
            <a href="/register/user">
              <i class="fa fa-user"></i>
              <h2>User</h2>
              <p>Register as a user to search, engage and donate to non profit
              organizations to support their causes.<br /><br /><br /><br /></p>
            </a>
          </div>

          <div class="about-box">
            <a href="/register/organization">
              <i class="fa fa-building"></i>
              <h2>Organization</h2>
              <p>Register as an organization to get funded and to promote your cause.
              <br /><br /><br /><br /></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /recent-causes -->
  {% endblock %}