  {% extends "partials/base.html" %}

  {% block content %}
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / <a href="/register">Register</a> / Finish</p>
          </div>

          <div class="inner-page-title">
            <h2>Registration Completed</h2>
          </div>

          <h1>Congratulations!</h1>
          <p>Welcome to our comunity, we are looking forward to what we can accomplish
          together.</p>

          <p><a href="/auth/login" class="readmore">Go to login</a></p>

        </div>
      </div>
    </div>
  </section><!-- /recent-causes -->
  {% endblock %}