  {% extends "partials/base.html" %}

  {% block content %}
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / <a href="/register">Register</a> / User</p>
          </div>

          <div class="inner-page-title">
            <h2>Register - User</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <form action="/register/user" method="POST">
            <div class="contact-form" style="margin: 0 auto;">
              <div class="row">
                {% if response.error %}
                  <p class="helper-message bg-danger" style="width: 94%; margin: 0 auto 10px;">{{ response.error }}</p>
                {% endif %}

                <div class="col-md-12">
                  <div class="col-md-6">
                    <p><input type="text" name="name" class="name" placeholder="Name" value="{{ response.user[0].name }}"></p>
                  </div>

                  <div class="col-md-6">
                    <p><input type="email" name="email" class="email" placeholder="Email" value="{{ response.user[0].email }}"></p>
                  </div>

                  <div class="col-md-6">
                    <p><input type="password" name="password" class="password" placeholder="Passsword"></p>
                  </div>

                  <div class="col-md-6">
                    <p><input type="password" name="confirmPassword" class="confirmPassword" placeholder="Confirm passsword"></p>
                  </div>

                </div>
              </div>
              <p class="text-center">
                <input type="submit" value="Register">
              </p>
            </div>
          </form>

        </div>
      </div>
    </div><!-- /container -->
  </section><!-- /recent-causes -->
  {% endblock %}