<section class="footer-top-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h1 class="site-title">DiBoaCara</h1>
            <p>DiBoaCara is an open-source project that enables users to easily search, donnate and bound to non profit organizations</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h2 class="wid-title">Special Links</h2>
            <ul>
              <li><a href="">Unicef</a></li>
              <li><a href="">Unesco</a></li>
              <li><a href="">World Food Programme</a></li>
              <li><a href="">Unicef</a></li>
              <li><a href="">Unesco</a></li>
              <li><a href="">World Food Programme</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h2 class="wid-title">Our Photos</h2>
            <ul id="flickr-gallery"></ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h2 class="wid-title">Contact Info</h2>
            <h4>Send you Pull Request <i class="fa fa-heart"></i> </h4>
            <p><a href="https://github.com/dbcapp/website/pulls" target="_blank">Pull Request</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="footer-copyright">
            <p>&copy; 2016 DiBoaCara <span class="seprator">|</span> We love <i class="fa fa-heart"></i> by <a href="https://github.com/dbcapp/website" target="_blank">Open Source</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery and plugins -->
  <script src="/assets/js/vendor/jquery.1.11.1.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/jquery.sticky.js"></script>
  <script src="/assets/js/jquery.easing.1.3.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.lwtCountdown-1.0.js"></script>
  <script src="/assets/js/jflickrfeed.min.js"></script>
  <script src="/assets/js/jquery.fs.boxer.min.js"></script>
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/select2.full.min.js"></script>

  <!--Activating WOW Animation only for modern browser-->
  <!--[if !IE]><!-->
  <script type="text/javascript">new WOW().init();</script>
  <!--<![endif]-->

  <!--Oh Yes, IE 9+ Supports animation, lets activate for IE 9+-->
  <!--[if gte IE 9]>
  <script type="text/javascript">new WOW().init();</script>
  <![endif]-->

  <!--Opacity & Other IE fix for older browser-->
  <!--[if lte IE 8]>
  <script type="text/javascript" src="/assets/js/ie-opacity-polyfill.js"></script>
  <![endif]-->


  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/custom.js"></script>

  <!-- jQuery preloader -->
  <script src="/assets/js/preloader.js"></script>
</body>
</html>