{% macro item(org) %}
  <div class="col-sm-4">
    <div class="single-cause">
      <div class="cause-featured-area">
        <a href="/organization/{{ org.id }}">
          <img class="img-responsive" src="{{ org.organization.picture.url }}" alt="">
          <i class="fa fa-link"></i>
        </a>
      </div>
      <div class="cause-content">
        <h2><a href="">{{ org.organization.name }}</a></h2>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
        <div class="cause-stats">
          <div class="row">
            <div class="col-md-6">
              <p>Collected: $2,200</p>
            </div>
            <div class="col-md-6 text-right">
              <p>Target: $5,000</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cause-link">
        <p><i class="fa fa-bars"></i> <a href="/find?tags={{ org.organization.tags[0] }}">{{ org.organization.tags[0] }}</a></p>
        <a href="/organization/{{ org._id }}" class="cause-donate">Donate</a>
      </div>
    </div>
  </div><!-- /col-sm-4 -->
{% endmacro %}