  {% extends "partials/base.html" %}

  {% block content %}
  <div class="clearfix"></div>
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / About us</p>
          </div>

          <div class="inner-page-title">
            <h2>About us</h2>
            <p class="page-subtitle">- Learn more about our organization </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="inner-page-content">
            <div class="page-featured-content">
              <img src="/assets/img/about-bg.jpg" alt="">
            </div>

            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sunt consectetur excepturi tempore quidem a!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus earum eaque rem labore nulla perspiciatis, consequuntur natus quo! Inventore, sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa error placeat, ipsum quia debitis delectus amet assumenda saepe, eius voluptatem inventore dignissimos reprehenderit soluta vitae sunt? Similique exercitationem velit vel facere praesentium eum rem corrupti beatae amet vero, alias, perferendis cumque obcaecati nostrum ipsum maiores est eaque in, distinctio rerum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa error placeat, ipsum quia debitis delectus amet assumenda saepe, eius voluptatem inventore dignissimos reprehenderit soluta vitae sunt? Similique exercitationem velit vel facere praesentium eum rem corrupti beatae amet vero, alias, perferendis cumque obcaecati nostrum ipsum maiores est eaque in, distinctio rerum?</p>

            <div class="about-box">
              <i class="fa fa-history"></i>
              <h2>Our History</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo officia nesciunt nam, nisi, accusamus laboriosam! Laborum possimus tempore dicta placeat beatae porro eligendi tempora veritatis itaque in voluptate, error cupiditate ea repellat deleniti facere perspiciatis libero atque, id consequuntur eius qui. Ipsa nulla unde impedit nam recusandae iure rem beatae amet adipisci. Similique quam dignissimos neque inventore laboriosam qui id, perspiciatis repellendus error nihil! Voluptatum at, corporis! Magni officiis provident necessitatibus nobis quaerat vitae, tempora repudiandae minima recusandae ea?</p>
            </div>

            <div class="about-box">
              <i class="fa fa-bars"></i>
              <h2>What we do</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo officia nesciunt nam, nisi, accusamus laboriosam! Laborum possimus tempore dicta placeat beatae porro eligendi tempora veritatis itaque in voluptate, error cupiditate ea repellat deleniti facere perspiciatis libero atque, id consequuntur eius qui. Ipsa nulla unde impedit nam recusandae iure rem beatae amet adipisci. Similique quam dignissimos neque inventore laboriosam qui id, perspiciatis repellendus error nihil! Voluptatum at, corporis! Magni officiis provident necessitatibus nobis quaerat vitae, tempora repudiandae minima recusandae ea?</p>
            </div>

            <div class="about-box">
              <i class="fa fa-question-circle"></i>
              <h2>Why donate with us</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo officia nesciunt nam, nisi, accusamus laboriosam! Laborum possimus tempore dicta placeat beatae porro eligendi tempora veritatis itaque in voluptate, error cupiditate ea repellat deleniti facere perspiciatis libero atque, id consequuntur eius qui. Ipsa nulla unde impedit nam recusandae iure rem beatae amet adipisci. Similique quam dignissimos neque inventore laboriosam qui id, perspiciatis repellendus error nihil! Voluptatum at, corporis! Magni officiis provident necessitatibus nobis quaerat vitae, tempora repudiandae minima recusandae ea?</p>
            </div>

            <div class="our-volunteers">
              <div class="page-title">
                <h2 class="volunteers-list">Team</h2>
              </div>


              <div class="volunteers-list">
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="single-volunteer">
                      <img class="img-responsive" src="/assets/img/team/rafael.jpg" alt="">
                      <div class="volunteer-hover">
                        <div class="volunteer-hover-table">
                          <div class="volunteer-hover-tablecell">
                            <h2>Rafael Kato</h2>
                            <p><i class="fa fa-heart"></i> 26 years old <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Brazil</p>
                            <div class="volunteer-profiles">
                              <a href="https://github.com/rafakato" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="single-volunteer">
                      <img class="img-responsive" src="/assets/img/team/leonardo.jpg" alt="">
                      <div class="volunteer-hover">
                        <div class="volunteer-hover-table">
                          <div class="volunteer-hover-tablecell">
                            <h2>Leonardo Rossetti</h2>
                            <p><i class="fa fa-heart"></i> 31 years old <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Brazil</p>
                            <div class="volunteer-profiles">
                              <a href="http://twitter.com/odranoel" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="mailto:leonardo@goldark.com.br" target="_blank"><i class="fa fa-envelope"></i></a>
                              <a href="https://github.com/odra" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="single-volunteer">
                      <img class="img-responsive" src="/assets/img/team/araan.jpg" alt="">
                      <div class="volunteer-hover">
                        <div class="volunteer-hover-table">
                          <div class="volunteer-hover-tablecell">
                            <h2>Araan Branco</h2>
                            <p><i class="fa fa-heart"></i> 22 years old <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Brazil</p>
                            <div class="volunteer-profiles">
                              <a href="http://facebook.com/araanbranco" target="_blank"><i class="fa fa-facebook"></i></a>
                              <a href="http://twitter.com/araanbranco" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="https://github.com/araanbranco" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- /volunteers-list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="call-to-action section-padding">
    <div class="cta-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><span>Want to Donate?</span> It’s time to show your huminity</h2>
          <a href="donate-now.html" class="cta-btn">Donate Now</a>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}