{% extends "partials/base.html" %}

{% block content %}
  <div class="clearfix"></div>
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / About us</p>
          </div>

          <div class="inner-page-title">
            <h2>About us</h2>
            <p class="page-subtitle">- Learn more about our organization </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="inner-page-content">
            <div class="page-featured-content">
              <img src="/assets/img/about-bg.jpg" alt="">
            </div>

            <p>DiBoaCara is an open-source project that enables users to easily search,
            donnate and bound to non profit organizations</p>

            <div class="about-box">
              <i class="fa fa-history"></i>
              <h2>Our History</h2>
              <p>This project/platform was created at koding global hackathon as a
              open source project.
              We have a simple goal: to help NGOs get funded and to create a strong bond
              between the NGO and its donnator.</p>
            </div>

            <div class="about-box">
              <i class="fa fa-bars"></i>
              <h2>What we do</h2>
              <p>We empower people bound and donate to a cause they support (NGO), making it easier for
              NGOs to be found and receive donation money for their cause.</p>
            </div>

            <div class="about-box">
              <i class="fa fa-question-circle"></i>
              <h2>Why donate with us</h2>
              <p>We believe in transparency above averything else. Our platform is fully
              open sourced within the GPL license, meaning that every product and platform
              change needs to be public available (by us or other team).</p>
            </div>

            <div class="our-volunteers">
              <div class="page-title">
                <h2 class="volunteers-list">Team</h2>
              </div>


              <div class="volunteers-list">
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="single-volunteer">
                      <img class="img-responsive" src="/assets/img/team/rafael.jpg" alt="">
                      <div class="volunteer-hover">
                        <div class="volunteer-hover-table">
                          <div class="volunteer-hover-tablecell">
                            <h2>Rafael Kato</h2>
                            <p><i class="fa fa-heart"></i> 26 years old <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Brazil</p>
                            <div class="volunteer-profiles">
                              <a href="https://github.com/rafakato" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="single-volunteer">
                      <img class="img-responsive" src="/assets/img/team/leonardo.jpg" alt="">
                      <div class="volunteer-hover">
                        <div class="volunteer-hover-table">
                          <div class="volunteer-hover-tablecell">
                            <h2>Leonardo Rossetti</h2>
                            <p><i class="fa fa-heart"></i> 31 years old <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Brazil</p>
                            <div class="volunteer-profiles">
                              <a href="http://twitter.com/odranoel" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="mailto:leonardo@goldark.com.br" target="_blank"><i class="fa fa-envelope"></i></a>
                              <a href="https://github.com/odra" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="single-volunteer">
                      <img class="img-responsive" src="/assets/img/team/araan.jpg" alt="">
                      <div class="volunteer-hover">
                        <div class="volunteer-hover-table">
                          <div class="volunteer-hover-tablecell">
                            <h2>Araan Branco</h2>
                            <p><i class="fa fa-heart"></i> 22 years old <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Brazil</p>
                            <div class="volunteer-profiles">
                              <a href="http://facebook.com/araanbranco" target="_blank"><i class="fa fa-facebook"></i></a>
                              <a href="http://twitter.com/araanbranco" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="https://github.com/araanbranco" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- /volunteers-list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="call-to-action section-padding">
    <div class="cta-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><span>Want to Donate?</span> It’s time to show your huminity</h2>
          <a href="/find" class="cta-btn">Donate Now</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}