 {% extends "partials/base.html"%}
 {% import "partials/list-orgs.html" as items %}

 {% block content%}
 <section class="recent-causes section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-breadcroumb">
          <p><a href="/">Home</a> / Find one organization</p>
        </div>

        <div class="inner-page-title">
          <h2>ORGANIZATIONS</h2>
          <form action="/find" class="search-orgs pull-right">
            <input type="text" name="title" placeholder="Title" value="{{ term }}">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      {% for org in orgs %}
        {{ items.item(org) }}
      {% endfor %}
    </div><!-- /row -->

  </div><!-- /container -->
</section>
 {% endblock %}