 {% extends "partials/base.html"%}

 {% block content%}
 <section class="recent-causes section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-breadcroumb">
          <p><a href="/">Home</a> / Find one NGO</p>
        </div>

        <div class="inner-page-title">
          <h2>OUR CAUSES</h2>
          <p class="page-subtitle">- You can help lots of people by donating little</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">Donate for 1 Lunch pack</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $2,200</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $5,000</p>
                </div>
              </div>
            </div> 


          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Food</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-1.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">Mangoes for Million dollar smile</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $6,000</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $10,000</p>
                </div>
              </div>
            </div>                        
          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Child</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-3.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">Donate for a Future</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $8,200</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $10,500</p>
                </div>
              </div>
            </div>                        
          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Education</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-4.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">A start to rebuild Aim High</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $2,875</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $12,000</p>
                </div>
              </div>
            </div> 


          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Sports</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-5.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">Education for Girl Child</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 86%">
                <span class="sr-only">86% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $8,605</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $10,000</p>
                </div>
              </div>
            </div>                        
          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Education</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-6.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">St. Jude Children's Hospital</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 63%">
                <span class="sr-only">63% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $12,390</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $20,000</p>
                </div>
              </div>
            </div>                        
          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Hospital</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-7.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">March of Dimes Fundraiser</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 96%">
                <span class="sr-only">96% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $4,200</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $4,500</p>
                </div>
              </div>
            </div> 


          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Human</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-8.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">Project Shelby</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                <span class="sr-only">85% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $20,000</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $25,000</p>
                </div>
              </div>
            </div>                        
          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Human</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single-cause">
          <div class="cause-featured-area">
            <a href="">
              <img class="img-responsive" src="img/cause-9.jpg" alt="">
              <i class="fa fa-link"></i>
            </a>
          </div>
          <div class="cause-content">
            <h2><a href="">(Miss)ter Union Fundraiser</a></h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 98%">
                <span class="sr-only">98% Complete (success)</span>
              </div>
            </div> 
            <div class="cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <p>Collected: $28,240</p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Target: $30,500</p>
                </div>
              </div>
            </div>                        
          </div>
          <div class="cause-link">
            <p><i class="fa fa-bars"></i> <a href="">Child</a></p>
            <a href="" class="cause-donate">Donate</a>
          </div>                          
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <nav>
          <ul class="pagination">
            <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
            <li><a href="#">1</a></li>
            <li class="current"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
          </ul>
        </nav>  
      </div>                
    </div>
  </div>
</section>
 {% endblock %}