{% set base = "home" %}
{% extends "partials/base.html" %}

{% block content %}
  <section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h2>WHO WE ARE</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 wow fadeInUp">
          <div class="about-photo">
            <div class="left-frame"></div>
            <div class="right-frame"></div>
            <img class="img-responsive" src="/assets/img/codercat.jpg" class="img-responsive" alt="Github Codecat">
          </div>

          <div class="our-stats">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-2">
                <div class="total-events">
                  <h2><span class="count-commits"></span> <span>Commits</span></h2>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-10">
                <div class="total-donation-stats">
                  <p><span class="counter-stars"></span> Stars</p>
                  <p><span class="counter-forks"></span> Forks</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-7 wow fadeInUp">
          <div class="about-text">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title" id="-collapsible-group-item-#1-">
                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-question-circle"></i> Find a fitting organization</a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                  <div class="panel-body">
                    Always wanted to make a donation to a cause or organization but do not
                    know how or which organization?
                    <br>
                    Use out platform to search for a organization thats right for you and
                    donate using Paypal.  
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div id="headingTwo" role="tab" class="panel-heading">
                  <h4 class="panel-title" id="-collapsible-group-item-#2-">
                    <a aria-controls="collapseOne" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-question-circle"></i>
                    Get the fund you always needed</a>
                  </h4>
                </div>
                <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body">
                    As an organization, it is hard to engage with your donators or to be
                    discovered?
                    <br>
                    We make the "be found" process easy with our engine and the donation
                    process even easier with paypal.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div id="headingThree" role="tab" class="panel-heading">
                  <h4 class="panel-title" id="-collapsible-group-item-#3-">
                    <a aria-controls="collapseOne" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-question-circle"></i>
                    Open Source</a>
                  </h4>
                </div>
                <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                  <div class="panel-body">
                    Our platform is licensed under the GPL open source license so every
                    one can see how and what we are doing with the platform.
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="recent-causes section-padding section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h2>LAST ORGANIZATIONS</h2>
          </div>
        </div>
      </div>

      <div class="row">
        {% for org in lastOrgs %}
          <div class="col-sm-4 wow fadeInLeft">
            <div class="single-cause">
              <div class="cause-featured-area">
                <a href="/organization/{{ org.id }}">
                  <img class="img-responsive" src="/assets/{{ org.organization.picture.original.url }}" alt="">
                  <i class="fa fa-link"></i>
                </a>
              </div>

              <div class="cause-content">
                <h2><a href="/organization/{{ org.id }}">{{ org.organization.name }}</a></h2>
                <div class="cause-stats">
                  <div class="row">
                    <div class="col-md-6"><p>Collected: ${{ org.organization.totalDonations }}</p></div>
                  </div>
                </div>
              </div>

              <div class="cause-link">
                <p><i class="fa fa-bars"></i> <a href="/find?tags={{ org.organization.tags[0] }}">{{ org.organization.tags[0] }}</a></p>
                <a href="/organization/{{ org.id }}" class="cause-donate">Read More</a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div><!-- /row -->

      <div class="row wow flash">
        <div class="col-md-12 text-center">
          <a class="cause-view-all" href="/find">View All</a>
        </div>
      </div>
    </div>
  </section><!-- /recent-causes -->


  <section class="call-to-action section-padding">
    <div class="cta-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><span>Want to Donate?</span> It’s time to show your huminity</h2>
          <a href="donate-now.html" class="cta-btn">Donate Now</a>
        </div>
      </div>
    </div>
  </section>

  </div>
{% endblock %}