  {% include "partials/header.html" %}

  <section class="about-us section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h2>WHO WE ARE</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 wow fadeInUp">
          <div class="about-photo">
            <div class="left-frame"></div>
            <div class="right-frame"></div>
            <img class="img-responsive" src="/assets/img/about.jpg" alt="">
          </div>

          <div class="our-stats">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-2">
                <div class="total-events">
                  <h2>34 <span>Events</span></h2>
                </div>                                
              </div>
              <div class="col-lg-9 col-md-8 col-sm-10">
                <div class="total-donation-stats">
                  <p><span class="counter">2434</span> People got help</p>
                  <p>$ <span class="counter">321548</span> Donation till now</p>
                </div>                                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-7 wow fadeInUp">
          <div class="about-text">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title" id="-collapsible-group-item-#1-">
                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-question-circle"></i> Ut wisi enim ad minim veniam?</a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div id="headingTwo" role="tab" class="panel-heading">
                  <h4 class="panel-title" id="-collapsible-group-item-#2-">
                    <a aria-controls="collapseOne" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-question-circle"></i> Ut wisi enim ad minim veniam?</a>
                  </h4>
                </div>
                <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div id="headingThree" role="tab" class="panel-heading">
                  <h4 class="panel-title" id="-collapsible-group-item-#3-">
                    <a aria-controls="collapseOne" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-question-circle"></i> Ut wisi enim ad minim veniam?</a>
                  </h4>
                </div>
                <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>  

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="recent-causes section-padding section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h2>RECENT CAUSES</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 wow fadeInLeft">
          <div class="single-cause">
            <div class="cause-featured-area">
              <a href="cause-single.html">
                <img class="img-responsive" src="/assets/img/cause.jpg" alt="">
                <i class="fa fa-link"></i>
              </a>
            </div>
            <div class="cause-content">
              <h2><a href="cause-single.html">Donate for 1 Lunch pack</a></h2>
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div> 
              <div class="cause-stats">
                <div class="row">
                  <div class="col-md-6">
                    <p>Collected: $2,200</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <p>Target: $5,000</p>
                  </div>
                </div>
              </div> 


            </div>
            <div class="cause-link">
              <p><i class="fa fa-bars"></i> <a href="cause-list.html">Food</a></p>
              <a href="cause-single.html" class="cause-donate">Read More</a>
            </div>                          
          </div>
        </div>
        <div class="col-sm-4 wow fadeInUp">
          <div class="single-cause">
            <div class="cause-featured-area">
              <a href="cause-single.html">
                <img class="img-responsive" src="/assets/img/cause-1.jpg" alt="">
                <i class="fa fa-link"></i>
              </a>
            </div>
            <div class="cause-content">
              <h2><a href="cause-single.html">Mangoes for Million dollar smile</a></h2>
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                  <span class="sr-only">60% Complete (success)</span>
                </div>
              </div> 
              <div class="cause-stats">
                <div class="row">
                  <div class="col-md-6">
                    <p>Collected: $6,000</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <p>Target: $10,000</p>
                  </div>
                </div>
              </div>                        
            </div>
            <div class="cause-link">
              <p><i class="fa fa-bars"></i> <a href="cause-list.html">Child</a></p>
              <a href="cause-single.html" class="cause-donate">Read More</a>
            </div>                          
          </div>
        </div>
        <div class="col-sm-4 wow fadeInRight">
          <div class="single-cause">
            <div class="cause-featured-area">
              <a href="cause-single.html">
                <img class="img-responsive" src="/assets/img/cause-3.jpg" alt="">
                <i class="fa fa-link"></i>
              </a>
            </div>
            <div class="cause-content">
              <h2><a href="cause-single.html">Donate for a Future</a></h2>
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                  <span class="sr-only">80% Complete (success)</span>
                </div>
              </div> 
              <div class="cause-stats">
                <div class="row">
                  <div class="col-md-6">
                    <p>Collected: $8,200</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <p>Target: $10,500</p>
                  </div>
                </div>
              </div>                        
            </div>
            <div class="cause-link">
              <p><i class="fa fa-bars"></i> <a href="cause-list.html">Education</a></p>
              <a href="cause-single.html" class="cause-donate">Read More</a>
            </div>                          
          </div>
        </div>

      </div>

      <div class="row wow flash">
        <div class="col-md-12 text-center">
          <a class="cause-view-all" href="cause-grid.html">View All</a>
        </div>                
      </div>
    </div>
  </section>


  <section class="more-events-area section-padding section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h2>Upcoming events</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 wow fadeInLeft">
          <div class="more-event-single">
            <img src="/assets/img/event.jpg" class="img-responsive" alt="">
            <div class="more-event-hover">
              <div class="more-event-table">
                <div class="more-event-cell">
                  <h2>One day with Autistic child</h2>
                  <p><i class="fa fa-calendar"></i> 12 Apr, 2015 <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Singapore</p>
                  <a href="" class="btn-bordered">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp">
          <div class="more-event-single">
            <img src="/assets/img/event-1.jpg" class="img-responsive" alt="">
            <div class="more-event-hover">
              <div class="more-event-table">
                <div class="more-event-cell">
                  <h2>Warm A Home</h2>
                  <p><i class="fa fa-calendar"></i> 25 May, 2015 <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Tokyo</p>
                  <a href="" class="btn-bordered">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInDown">
          <div class="more-event-single">
            <img src="/assets/img/event-2.jpg" class="img-responsive" alt="">
            <div class="more-event-hover">
              <div class="more-event-table">
                <div class="more-event-cell">
                  <h2>Polio vaccine Day - 2015</h2>
                  <p><i class="fa fa-calendar"></i> 30 Oct, 2015 <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Dhaka</p>
                  <a href="" class="btn-bordered">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInRight">
          <div class="more-event-single">
            <img src="/assets/img/event-3.jpg" class="img-responsive" alt="">
            <div class="more-event-hover">
              <div class="more-event-table">
                <div class="more-event-cell">
                  <h2>1 Mile for Breast Cancer</h2>
                  <p><i class="fa fa-calendar"></i> 28 Nov, 2015 <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Blackfoot</p>
                  <a href="" class="btn-bordered">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="call-to-action section-padding">
    <div class="cta-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><span>Want to Donate?</span> It’s time to show your huminity</h2>
          <a href="donate-now.html" class="cta-btn">Donate Now</a>
        </div>
      </div>
    </div>
  </section>

  <section class="recent-news-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 wow fadeIn">
          <div class="recent-news">
            <div class="recent-news-title">
              <h2>RECENT NEWS</h2>
              <a href="blog-list.html">View All <i class="fa fa-angle-double-right"></i></a>
            </div>

            <div class="featured-news">
              <div class="row">
                <div class="col-sm-6">
                  <div class="featured-news-content">
                    <img src="/assets/img/featured.jpg" alt="">
                    <div class="featured-news-date">
                      <p>24 <span>March</span></p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="featured-news-title">
                    <h2><a href="single-blog.html">A day with children to solve mathematics</a></h2>
                    <p class="featured-news-meta"><i class="fa fa-user"></i> Admin <i class="fa fa-share"></i> Child, Education</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
                    <a href="single-blog.html" class="readmore">Read More</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="related-news">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-related-news">
                    <img src="/assets/img/featured-thumb-1.jpg" alt="">
                    <h2><a href="single-blog.html">The dark side of a bright future</a></h2>
                    <p class="related-news-meta"><i class="fa fa-user"></i> Admin <i class="fa fa-clock-o"></i> 12 March, 2015 <i class="fa fa-share"></i> Child, Education</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, perferendis!</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-related-news">
                    <img src="/assets/img/featured-thumb-2.jpg" alt="">
                    <h2><a href="single-blog.html">Your relationship with your son</a></h2>
                    <p class="related-news-meta"><i class="fa fa-user"></i> Admin <i class="fa fa-clock-o"></i> 12 March, 2015 <i class="fa fa-share"></i> Child, Education</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, perferendis!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 wow fadeIn">
          <div class="newsletter-subscribe">
            <h2>Subscribe to Our Newsletter</h2>
            <div class="newsletter-form">
              <form action="index.html">
                <input type="text" placeholder="Your email address here">
                <input type="submit" value="Subscribe">
              </form>
            </div>
          </div>

          <div class="our-archivement">
            <h2>Our Achievement</h2>
            <div class="archivement-list">
              <img src="/assets/img/archive_1.png" alt="">
              <img src="/assets/img/archive_2.png" alt="">
              <img src="/assets/img/archive_3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="we-worked-with section-gray section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="clients-list">
            <div class="single-client">
              <img src="/assets/img/logo_1.png" alt="">
            </div>
            <div class="single-client">
              <img src="/assets/img/logo_2.png" alt="">
            </div>
            <div class="single-client">
              <img src="/assets/img/logo_3.png" alt="">
            </div>
            <div class="single-client">
              <img src="/assets/img/logo_4.png" alt="">
            </div>
            <div class="single-client">
              <img src="/assets/img/logo_5.png" alt="">
            </div>
            <div class="single-client">
              <img src="/assets/img/logo_6.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "partials/footer.html" %}