  {% extends "partials/base.html" %}

  {% block content %}
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / Login</p>
          </div>

          <div class="inner-page-title">
            <h2>Login</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <form action="/auth/login" method="POST">
            <div class="contact-form" style="margin: 0 auto; width: 570px">
              <div class="row">
                {% if response.error %}
                  <p class="helper-message" style="width: 94%; margin: 0 auto 10px;">{{ response.error }}</p>
                {% endif %}

                <div class="col-md-12">
                  <p><input type="email" name="email" class="email" placeholder="Email" value="{{ response.user[0].email }}"></p>
                  <p><input type="password" name="password" class="password" placeholder="Passsword"></p>
                </div>
              </div>
              <p class="text-center"><input type="submit" value="Login"></p>
            </div>
          </form>

        </div>
      </div>
    </div><!-- /container -->
  </section><!-- /recent-causes -->
  {% endblock %}