{% extends 'partials/base.html' %}

{% block content %}
<section class="recent-causes section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-breadcroumb">
          <p><a href="/">Home</a> / <a href="/find">Organizations</a> / Name</p>
        </div>

        <div class="inner-page-title">
          <h2>Donate for Child Education</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="inner-cause-inner">
          <div class="inner-cause-featured">
            <img src="img/cause-featured.jpg" alt="">
          </div>

          <div class="inner-cause-title">
            <h2>Donate for Child Education</h2>
            <p><i class="fa fa-clock-o"></i> 26 March, 2015 <span class="event-sep"></span> <i class="fa fa-map-marker"></i> Dhaka <span class="event-sep"></span> <i class="fa fa-bars"></i> Child, Education</p>
          </div>

          <div class="inner-cause-metadata">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (success)</span>
              </div>
            </div>

            <div class="inner-cause-stats">
              <div class="row">
                <div class="col-md-6">
                  <div class="inner-left-collected">
                    <p>Collected: <strong>$6,000</strong></p>
                    <p class="inner-casue-meta"><i class="fa fa-clock-o"></i> 2 days to go <span class="event-sep"></span> <i class="fa fa-map-marker"></i> <strong>$5,300</strong> more needed <span class="event-sep"></span> <i class="fa fa-bars"></i> 410 Donors</p>
                  </div>


                </div>
                <div class="col-md-6 text-right">
                  <div class="inner-right-target">
                    <p>Target: <strong>$10,000</strong></p>
                    <a href="" class="readmore">Donate</a>
                  </div>

                </div>
              </div>
            </div>                                                                                       
          </div>

          <div class="inner-cause-content">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, expedita!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tenetur porro ipsam mollitia. Accusamus id iusto aut dolores libero tenetur? Doloribus, quisquam natus perferendis beatae temporibus ratione fugiat alias. Minus vel adipisci reprehenderit ex quos aperiam unde, nemo inventore illum voluptatum. Aut quam alias veritatis placeat officiis accusantium dignissimos, amet?</p>
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sed repudiandae vero esse nihil quia eius dignissimos, velit perspiciatis dolore.</strong></p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam natus magni tenetur ex qui vitae ullam magnam, facilis iusto libero veniam ipsum dolorum accusamus eaque ut, voluptatibus esse voluptates! Unde.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo debitis ex quam quos, eligendi quisquam magni praesentium fugit odio nisi. Nemo at quas, reprehenderit, laborum iste odit numquam sed saepe deserunt dolor repellendus, dolorum itaque unde quos aliquid. Sit recusandae, corporis voluptate maiores, animi nesciunt consequatur quam provident totam cupiditate voluptatem dolorem vero debitis quod veniam perspiciatis nemo labore, non!</p>

            <a href="" class="readmore">Donate</a>
          </div>

          <div class="donate-steps">
            <div class="donate-steps-title">
              <h2>How You Can Donate: Easy Steps</h2>
            </div>

            <div class="donate-three-steps">
              <div class="single-donate-step-wrapper">
                <div class="single-donate-step">
                  <span class="donate-step-no">1</span>
                  <h2>Select how much you want to Donate</h2>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
                </div>
              </div>
              <div class="single-donate-step-wrapper">
                <div class="single-donate-step right-directions">
                  <span class="donate-step-no">2</span>
                  <h2>Fill a simple & easy form</h2>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
                </div>
              </div>
              <div class="single-donate-step-wrapper">
                <div class="single-donate-step">
                  <span class="donate-step-no">3</span>
                  <h2>Feel proud to helping out</h2>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
                </div>
              </div>
            </div>
            <div class="donate-bottom text-center">
              <a href="" class="readmore">Donate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}