{% extends "partials/base.html" %}

{% block content %}
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / Profile</p>
          </div>

          <div class="inner-page-title">
            <h2>Profile</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <form action="/user" method="POST" enctype="multipart/form-data">
            <div class="contact-form" style="margin: 0 auto;">
              <div class="row">
                {% if response.error %}
                  <p class="helper-message bg-danger" style="width: 94%; margin: 0 auto 10px;">{{ response.error }}</p>
                {% endif %}

                {% if response.success %}
                  <p class="helper-message bg-success" style="width: 94%; margin: 0 auto 10px;">{{ response.success }}</p>
                {% endif %}

                <div class="col-md-12">
                  <div class="col-md-12">
                    <p><input type="text" name="name" class="name" placeholder="Name" value="{{ user.name }}"></p>
                  </div>

                  <div class="col-md-6">
                    <p><input type="password" name="password" class="password" placeholder="Passsword"></p>
                  </div>

                  <div class="col-md-6">
                    <p><input type="password" name="confirmPassword" class="confirmPassword" placeholder="Confirm passsword"></p>
                  </div>
                </div>

                {% if user.type == "Organization" %}
                  <div class="col-md-12">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="description summernote" cols="30" rows="10">{{ user.organization.description }}</textarea>
                  </div>

                  <div class="col-md-12">
                    <select name="employees" multiple="" class="employeers-tokenizer" style="width: 100%">
                      {% for emp in user.organization.employees %}
                        <option value="{{ emp._id }}" selected="">{{ emp.name }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col-md-12">
                    <label for="picture">Foto</label>

                    {% if user.organization.picture %}
                      <img src="/assets/{{ user.organization.picture.original.url }}" alt=""><br><br>
                    {% endif %}

                    <input type="file" id="picture" name="picture">
                  </div>
                {% endif %}
              </div>

              <p class="text-center">
                <input type="submit" value="Save">
              </p>
            </div>
          </form>

        </div>
      </div>
    </div><!-- /container -->
  </section><!-- /recent-causes -->
{% endblock %}