  {% extends "partials/base.html" %}

  {% block content %}
  <section class="recent-causes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcroumb">
            <p><a href="/">Home</a> / Register</p>
          </div>

          <div class="inner-page-title">
            <h2>Register</h2>
          </div>

          <h1>Choose you type</h1>
          <div class="about-box">
            <a href="/register/user">
              <i class="fa fa-user"></i>
              <h2>User</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo officia nesciunt nam, nisi, accusamus laboriosam! Laborum possimus tempore dicta placeat beatae porro eligendi tempora veritatis itaque in voluptate, error cupiditate ea repellat deleniti facere perspiciatis libero atque, id consequuntur eius qui. Ipsa nulla unde impedit nam recusandae iure rem beatae amet adipisci. Similique quam dignissimos neque inventore laboriosam qui id, perspiciatis repellendus error nihil! Voluptatum at, corporis! Magni officiis provident necessitatibus nobis quaerat vitae, tempora repudiandae minima recusandae ea?</p>
            </a>
          </div>

          <div class="about-box">
            <a href="/register/ngo">
              <i class="fa fa-building"></i>
              <h2>NGO</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo officia nesciunt nam, nisi, accusamus laboriosam! Laborum possimus tempore dicta placeat beatae porro eligendi tempora veritatis itaque in voluptate, error cupiditate ea repellat deleniti facere perspiciatis libero atque, id consequuntur eius qui. Ipsa nulla unde impedit nam recusandae iure rem beatae amet adipisci. Similique quam dignissimos neque inventore laboriosam qui id, perspiciatis repellendus error nihil! Voluptatum at, corporis! Magni officiis provident necessitatibus nobis quaerat vitae, tempora repudiandae minima recusandae ea?</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /recent-causes -->
  {% endblock %}